.stillPage {
  width: 100%;
  animation-name: pageAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

.masonry {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photoItemBig {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.photoItemSmall {
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}

.filterRow {
  margin-bottom: 10px;
}

button {
  background: none;
  color: inherit;
  border: none;
  margin: 0 10px 10px;
  cursor: pointer;
  outline: inherit;
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 14px;
  border: 1px solid;
  padding: 2px 10px;
  border-radius: 5px;
  transition: .5s;
}

@keyframes pageAnimation {
  from {transform: translateY(50px)}
  to {transform: translateY(0px)}
}

@media (max-width: 991px) {
  .photoItemBig, .photoItemSmall {
    width: 100%;
    padding: 10px 20px;
  }
  .filterRow {
    padding-left: 10px;
  }
}